<%- include('../partials/header') %>
    <div class="container  ui main text raised segment">
        <div class="ui items">
            <div class="huge header ui centered">
                <%= blog.title %>
            </div>

            <div class="ui top item ">

                <div class="image rounded medium ui">
                    <img class="" src="<%= blog.image %> " alt="Cannot find the image">
                </div>

                <div class="content">
                    <div class="meta">
                        <span>
                            <%= blog.created.toDateString() %>
                       </span>
                    </div>

                    <div class="description ">
                        <p>
                            <%- blog.body %>
                        </p>
                    </div>
                    <div id="edit_delete">
                        <a class="ui primary button" href="/blogs/<%= blog._id %>/edit">Edit </a>

                        <form class="ui form " id="delete_form" action="/blogs/<%= blog._id %>/confirmation" method="GET">
                            <button type="submit" class="ui red button right floated">Delete</button>
                        </form>

                        <a href="/blogs" class="ui  grey button">Back</a>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <%- include('../partials/footer') %>